<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>St Exam 2020</title>
    <script src="/js/jquery-latest.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>
    <script src="/js/utils.js"></script>
</head>
<body>

<div class="wraper">
    <div class="header">
        <h1>St Exam 2020</h1>
        <form action="" class="add_question">
            <input type="text" class="question_input" name="engQ" id="question_engQ" placeholder="Анлийский вопрос">
            <input type="text" class="question_input" name="rusQ" id="question_rusQ" placeholder="Русский вопрос">
            <input type="text" class="question_input" name="ansE" id="question_ansE" placeholder="Английский ответ">
            <input type="text" class="question_input" name="ansR" id="question_ansR" placeholder="Русский ответ">
            <input type="submit" value="Отправить" class="btn" id="add_button">
        </form>
    </div>
    <div class="container">

    </div>
</div>

</body>
</html>
